bin/
obj/
src/Areas/Identity/Pages/_ViewImports.cshtml
src/Areas/Identity/Pages/_ViewStart.cshtml
src/Areas/Identity/Pages/Account/_ViewImports.cshtml
src/Areas/Identity/Pages/Account/AccessDenied.cshtml
src/Areas/Identity/Pages/Account/AccessDenied.cshtml.cs
src/Areas/Identity/Pages/Account/ConfirmEmail.cshtml
src/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.cs
src/Areas/Identity/Pages/Account/ExternalLogin.cshtml
src/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
src/Areas/Identity/Pages/Account/ForgotPassword.cshtml
src/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
src/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
src/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml.cs
src/Areas/Identity/Pages/Account/Lockout.cshtml
src/Areas/Identity/Pages/Account/Lockout.cshtml.cs
src/Areas/Identity/Pages/Account/Login.cshtml
src/Areas/Identity/Pages/Account/Login.cshtml.cs
src/Areas/Identity/Pages/Account/LoginWith2fa.cshtml
src/Areas/Identity/Pages/Account/LoginWith2fa.cshtml.cs
src/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml
src/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.cs
src/Areas/Identity/Pages/Account/Logout.cshtml
src/Areas/Identity/Pages/Account/Logout.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
src/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
src/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml
src/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml
src/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml
src/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml
src/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/Disable2fa.cshtml
src/Areas/Identity/Pages/Account/Manage/Disable2fa.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml
src/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml
src/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml
src/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/GenerateRecoveryCodes.cshtml
src/Areas/Identity/Pages/Account/Manage/GenerateRecoveryCodes.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/Index.cshtml
src/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/ManageNavPages.cs
src/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml
src/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml
src/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml
src/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.cs
src/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml
src/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml.cs
src/Areas/Identity/Pages/Account/Register.cshtml
src/Areas/Identity/Pages/Account/Register.cshtml.cs
src/Areas/Identity/Pages/Account/ResetPassword.cshtml
src/Areas/Identity/Pages/Account/ResetPassword.cshtml.cs
src/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml
src/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml.cs
src/Areas/Identity/Pages/Error.cshtml
src/Areas/Identity/Pages/Error.cshtml.cs
